<div class="jumbotron">
    <h2 class="text-center" translate>TEACHER.SUPERVISION.TITLE</h2>
</div>
<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>
<div ng-if="isAuthenticated && vm.profile.role === 'supervisor'" class="adminpage">

    <div ng-if="!vm || !vm.projects" class="loading"> </div>

    <div ng-repeat="error in vm.errors"
            class="alert alert-danger alert-dismissible pageheadermsg" role="alert"
            ng-click="vm.dismissAlert('errors', $index)"
            id="errors{{error.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.ERROR"></strong> {{ error.message }}<br/>
        <em ng-if="error.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
    </div>
    <div ng-repeat="warning in vm.warnings"
            class="alert alert-warning alert-dismissible pageheadermsg" role="alert"
            ng-click="vm.dismissAlert('warnings', $index)"
            id="warnings{{warning.alertid}}">
        <button type="button" class="close" data-dismiss="alert" aria-label="关闭"><span aria-hidden="true">&times;</span></button>
        <strong translate="APP.WARNING"></strong> {{ warning.message }}
    </div>


    <div ng-if="vm && vm.classifiers && vm.classifiers.conv.length > 0" class="unmanagedClassifiers">
        <div class="warningHeading" translate>APP.WARNING</div>
        <div class="warningExplanation">
            对您提供的 Watson API 密钥进行检查时发现
            <span ng-if="vm.classifiers.conv.length === 1">一个 </span>
            机器学习模型<span ng-if="vm.classifiers.conv.length > 1"> </span>
            不被儿童机器学习所知。
        </div>
        <div class="warningSubHeading">这可能是怎么发生的？</div>
        <div class="warningExplanation">
            <strong>原因1：</strong>
            您将 Watson API 密钥同时用于儿童机器学习和其他用途。
        </div>
        <div class="warningExplanation">
            这没问题 - 您可以忽略此提示。但请注意，这些模型会计入 IBM Cloud 对您的 Watson 凭证实施的限制，因此这意味着您的学生可以创建的模型数量会减少。
        </div>
        <div class="warningExplanation">
            <strong>原因2：</strong>
            在删除机器学习模型时出现了问题，导致它被意外遗留。
        </div>
        <div class="warningExplanation">
            您应该删除此模型，因为它会计入 IBM Cloud 对您的凭证实施的限制，从而减少您的学生可以创建的模型数量。
        </div>

        <table style="width: 100%;" class="unmanagedClassifiersTable">
            <tr ng-repeat="classifier in vm.classifiers.conv">
                <td><img class="mediumwatsonicon" hspace=10
                        src="static/images/conversation.jpg"
                        alt="使用 Watson Assistant API 密钥的模型"></td>
                <td><strong>watsonx Assistant</strong> 工作空间
                        (<small>{{ classifier.id }}</small>) 名为
                        <strong>"{{ classifier.name }}"</strong></td>
                <td><button class="btn btn-danger"
                            style="margin-left: 1em"
                            ng-click="vm.deleteClassifier($event, classifier)"
                            ng-disabled="submittingDeleteRequest"
                            translate="APP.DELETE">
                    </button></td>
            </tr>
        </table>
    </div>


    <div ng-if="vm && vm.projects">

        <div class="helpsection">
            <p translate>TEACHER.SUPERVISION.INTRO_1</p>
            <p translate>TEACHER.SUPERVISION.INTRO_2</p>
        </div>

        <div class="studentslist" ng-if="vm.projects.length === 0">
            <p translate>TEACHER.SUPERVISION.NO_PROJECTS_1</p>
            <p translate>TEACHER.SUPERVISION.NO_PROJECTS_2</p>
        </div>
        <table class="studentslist wide" ng-if="vm.projects.length > 0">
            <tr>
                <th title="项目名称">
                    {{ 'TEACHER.SUPERVISION.NAME' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'name'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-name'"></span>
                </th>
                <th title="项目类型 - 计算机被训练识别的内容">
                    {{ 'TEACHER.SUPERVISION.TYPE' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'type'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-type'"></span>
                </th>
                <th>
                </th>
                <th title="项目所有者">
                    {{ 'TEACHER.SUPERVISION.STUDENT' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = 'owner.username'"></span>
                    <span class="glyphicon glyphicon-triangle-bottom" ng-click="vm.orderBy = '-owner.username'"></span>
                </th>
                <th title="项目当前是否具有使用 Watson API 密钥训练的模型">
                    {{ 'TEACHER.SUPERVISION.MODELS' | translate }}
                    <span class="glyphicon glyphicon-triangle-top" ng-click="vm.orderBy = ['-hasModel', 'type']"></span>
                    <br/>
                    <em style="font-weight: normal; font-size: 0.8em;" translate>TEACHER.SUPERVISION.DELETE</em>
                </th>
            </tr>
            <tr ng-repeat="project in vm.projects | orderBy : vm.orderBy" ng-class-even="'even'" ng-class-odd="'odd'">
                <!-- 项目名称 -->
                <td class="projectslistname" ng-hide="project.owner">{{ project.name }}</td>
                <td class="projectslistname" ng-if="project.owner">
                    <a style="cursor: pointer" ui-sref="teacher_review_training({ projectId : project.id, userId : project.owner.id })">
                        {{ project.name }}
                    </a>
                </td>
                <!-- 项目类型 (文本/图片/数字) -->
                <td class="studentslistdetail projecttype">
                    {{ project.type === 'imgtfjs' ? 'images' : project.type }}
                </td>
                <!-- 类别 / 标签 -->
                <td class="studentslistdetail detail"> {{ project.labelsSummary }} </td>
                <!-- 项目所有者 -->
                <td class="studentslistdetail detail" ng-hide="project.owner || project.isCrowdSourced"> </td>
                <td class="studentslistdetail detail" ng-if="project.owner"> {{ project.owner.username }} </td>
                <td class="studentslistdetail" ng-if="project.isCrowdSourced"><div class="mlprojectcrowd miniwatsonicon" title="'全班项目' - 对班级所有学生可用" > </div> </td>
                <!-- 是否有训练好的模型 -->
                <td class="studentslistdetail detail" ng-hide="project.hasModel"> </td>
                <td class="studentslistdetail detail" ng-if="project.hasModel && project.type === 'text'">
                    <img class="miniwatsonicon" style="cursor: pointer"
                            src="static/images/conversation.jpg"
                            ng-click="vm.deleteModel($event, project)"
                            alt="使用 Watson Assistant API 密钥的模型">
                </td>
            </tr>
        </table>

    </div>

</div>

<div ng-if="isAuthenticated && vm.profile.role !== 'supervisor'" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> {{ 'TEACHER.SUPERVISION.NOT_AUTHORIZED' | translate }}
</div>