<md-dialog aria-label="申请新的托管班级账户" class="newtrainingdatadialog">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate="SIGNUP.MANAGED.TITLE"></h2>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="md-dialog-content">
            <md-card-content>
                <p>
                    如果您是老师或运营非营利性编程团体，我很乐意为您设置班级账户。
                </p>
                <p>
                    您可以通过发送邮件至 <strong>dale.lane@uk.ibm.com</strong> 向我提出申请。
                </p>
                <p>
                    <strong>您的邮件必须包含以下信息：</strong>
                </p>
                <p>
                    <ul>
                        <li>您的姓名</li>
                        <li>您在学校或编程团体中的职务或头衔</li>
                        <li>您的学校或编程团体名称</li>
                        <li>您的学校或编程团体的网址</li>
                        <li>需要使用儿童机器学习的学生人数</li>
                    </ul>
                </p>
                <p>
                    （如果您已经创建了非托管账户，请附上您使用的用户名。我可以直接将您现有账户转换为班级账户，这样您就不必重新开始，也能节省时间。）
                </p>
                <p>
                    --<br/>
                    Dale
                </p>
                <p>
                    附：请给我一两天时间回复，无需着急催促。
                </p>
            </md-card-content>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="close()" class="md-raised md-primary">确定</md-button>
    </md-dialog-actions>
</md-dialog>