<div ng-if="!isAuthenticated">
    <div class="alert alert-warning pageheadermsg">
        <strong translate="ERRORS.NOTLOGGEDIN"></strong>
    </div>
    <div class="text-center">
        <button class="btn btn-primary" ng-click="vm.authService.login()" translate="APP.LOGIN"></button>
    </div>
</div>

<div ng-if="failure" class="alert alert-danger pageheadermsg" role="alert">
    <strong translate="APP.ERROR"></strong> {{ failure.message }}<br/>
    <em ng-if="failure.status >= 500"><span translate="ERRORS.IFPERSISTENT"></span> <a ui-sref="help" translate="ERRORS.LETMEKNOW"></a></em>
</div>

<div ng-if="isAuthenticated && !projectId" class="alert alert-danger pageheadermsg">
    <strong translate="APP.ERROR"></strong> <span translate="ERRORS.MISSINGPROJECTID"></span> <a ui-sref="projects" translate="APP.PROJECTS"></a>
</div>

<div ng-if="isAuthenticated && projectId" class="appinventorpage">
    <div class="jumbotron">
        <h2 class="text-center" translate="EDUBLOCKS.TITLE"></h2>
    </div>
    <div class="backbutton">
        <a ui-sref="mlproject({ projectId : projectId, userId : userId  })" translate="APP.BACKTOPROJECT"></a>
    </div>

    <!-- 页面状态：加载中 -->
    <!-- 等待获取项目信息 -->
    <div ng-if="projectId && !scratchkey" class="loading"> </div>

    <!-- 页面状态：文本/数字项目 -->
    <!-- EduBlocks 只能用于文本和数字项目 -->
    <div ng-if="project && (project.type !== 'text' && project.type !== 'numbers')" class="modelguidancecontainer">
        <div class="modelguidance">
            EduBlocks 只能用于文本和数字项目。
        </div>
    </div>

    <!-- 页面状态：只有一个标签 -->
    <!-- 只有一个训练类别，需要至少再添加一个 -->
    <div ng-if="project && project.labels.length <= 1 && (project.type === 'text' || project.type === 'numbers')" class="modelguidancecontainer">
        <div class="modelguidance">
            <div class="modelstatusdetail" translate="EDUBLOCKS.NOTREADY"></div>
            <div class="modelstatusdetail" translate="SCRATCH.GO_TO_LEARNANDTEST" translate-values='{ urls : projecturls }'></div>
        </div>
    </div>

    <div ng-if="scratchkey && project && project.labels.length > 1 && (project.type === 'text' || project.type === 'numbers')" class="appinvheader">
        <!-- 页面状态：没有模型 -->
        <!-- 没有模型，但可以使用 EduBlocks 创建一个 -->
        <div ng-if="!scratchkey.model">
            <div class="alert alert-info" role="alert" translate="SCRATCH.NOMODEL"></div>
            <div>
                您可以<strong><a href="" ui-sref="mlproject_models({ projectId : projectId, userId : userId })">立即训练一个模型</a></strong>，然后回来开始您的 EduBlocks 项目。
            </div>
            <div>
                或者您现在就可以前往 <a class="btn btn-default" target="_blank" ng-click="openEdublocksLink('https://newapp.edublocks.org/showcase/WiN7B9z8wV1rY9BJjWAU', $event)">EduBlocks</a>。
            </div>
        </div>

        <!-- 页面状态：有模型 -->
        <!-- 机器学习模型已准备就绪 -->
        <div ng-if="scratchkey.model">
            <a target="_blank" class="btn btn-primary"
               ng-click="openEdublocksLink('https://newapp.edublocks.org/showcase/WiN7B9z8wV1rY9BJjWAU', $event)"
               translate="EDUBLOCKS.LAUNCH"></a>
        </div>
    </div>

    <div ng-if="project && project.labels.length > 1 && (project.type === 'text' || project.type === 'numbers')"
         class="modelguidancecontainer">

        <div class="modelguidance">
            <div class="modelstatusdetail">
                您可以使用 <strong><a href="https://edublocks.org/">EduBlocks</a></strong>
                来制作 Python 应用程序。
            </div>
            <div class="modelstatusdetail">
                它像 Scratch 一样在网页浏览器中运行。和 Scratch 类似，您可以通过拖放和拼接积木来编写代码。
            </div>
            <div class="modelstatusdetail">
                如果您将 <a href="https://edublocks.org/">EduBlocks</a> 与
                <strong>儿童机器学习</strong> 结合使用，您可以使用自己的机器学习模型制作由人工智能驱动的 Python 应用程序。
            </div>
        </div>

        <div class="modelguidance">
            <img src="static/images/edublocks.png" alt="EduBlocks"/>
        </div>

        <div class="modelguidance" style="flex-basis: 100%" ng-if="scratchkey">
            <div class="modelstatusdetail">
                您需要将此项目的 API 密钥添加到您的 EduBlocks 代码中，放在 <code>API_KEY_HERE</code> 的位置：
            </div>
            <div class="modelstatusdetail">
                <div class="pythoncodebox"><pre class="pythoncode">{{ scratchkey.id }}</pre></div>
            </div>
            <div class="modelstatusdetail">
                <em>请将其视为密码，确保妥善保管！</em>
            </div>
        </div>
    </div>
</div>