<div class="jumbotron">
    <h2 class="text-center">收集诊断信息</h2>
</div>
<div class="helpsection">
    <div class="apikeysguideinfo">很抱歉，同学们在使用儿童机器学习网站时有时会遇到错误。</div>
    <div class="apikeysguideinfo">对此我深感歉意。</div>
    <div class="apikeysguideinfo">本页面提供了如何收集问题相关信息的方法，这些信息将帮助我快速修复问题，防止再次发生。</div>
</div>
<div class="debugguidance">
    <ol>
        <li class="debugguidanceinfo">访问 <a href="https://machinelearningforkids.co.uk/#!/welcome?debug">https://machinelearningforkids.co.uk/#!/welcome?debug</a> <br/>(<em>关键是在网址末尾添加 <code>?debug</code> - 这在网站的任何页面都应该有效</em>)</li>
        <li class="debugguidanceinfo">如果操作成功，您会在页面顶部的菜单中看到一个新的"<strong>下载日志</strong>"选项。（如果没看到，请刷新页面直到出现）</li>
        <li class="debugguidanceinfo">重现问题 - 按照之前的步骤重新演示您遇到的错误</li>
        <li class="debugguidanceinfo">点击<strong>下载日志</strong>来下载一个文件，该文件将包含您所有操作的描述和遇到的错误信息</li>
        <li class="debugguidanceinfo">请将该文件发送给我：
            <ul>
                <li>通过电子邮件，或</li>
                <li>在 <a href="https://github.com/IBM/taxinomitis/issues">Github 上创建问题</a>，或</li>
                <li>在 <a href="https://groups.google.com/g/mlforkids">支持论坛</a>中发布消息</li>
            </ul>
        </li>
    </ol>
</div>